footer.background-dark
    .container
        .footer-cols 
            ul
                li Account
                li: a(href="/signup") Sign Up
                li: a(href="/signin") Sign In
                li: a(href="#") Help

            ul
                li Discover
                li: a(href="#") Groups
                li: a(href="#") Calender
                li: a(href="#") Cities

            ul  
                li Gamer's Meet
                li: a(href="#") About
                li: a(href="#") Gamer's Meet Pro
                li: a(href="#") Careers